

<div class="popupwindow" style="width: 300px;">		  
	  <div class="close"><a href="#">close</a></div>
	  
	  		<div class="changepassword-container clearfix">
		
			<h1>Change Password</h1>
		     <p>Please enter a new password below.</p>			 
		     
			  <label for="new-password">New Password:</label>
		      <input name="" id="new-password" type="text" />
			  
			  <label for="confirm-password">Confirm  Password:</label>
		      <input name="" id="confirm-password" type="text" />
			
		     
			  <a href="#" class="btn-update">Update</a>
			
         
		</div>
	</div>