<div class="popupwindow" style="width: 300px;">		  
	  <div class="close"><a href="#" class="lbAction" rel="deactivate">close</a></div>
	  		
	  		<div class="forgotpassword-container clearfix">
			
			<h1>Forgot Password</h1>
		    <p>Please enter the e-mail used to create your account, then click &#34;Reset Password&#34;. We will send you an e-mail with a link
			 to a page where you can change your password.</p>		 
		     <form id="fpForm">
			  <label for="email">Email Address:</label>
				<input id="email" 
				type="text" 
				required="required" 
				alert="Please enter a valid email." />

		     
			<ul>
				<li><a href="#" id="resetpw-btn" class="btn-resetpw">Reset Password</a></li>
				<li<a href="#" class="lbAction btn-cancel" rel="deactivate">Cancel</a></li>
			</ul>
			</form>
		</div>
	</div>