<div class="popupwindow" style="width: 300px;">		  
	<div class="close"><a href="#" class="lbAction" rel="deactivate">close</a></div>
	<form id="quickshopForm">
	<div class="quickshop-container">
		<h1>Catalog Quick Shop</h1>
		<div class="generic-form">
			<p>Enter the catalog number in the fields below to immediately add items to your shopping cart.</p>			 
		     <hr />
			<label for="item-number1">Item number:</label>
		     	<input name="item-number1" type="text" />
			<hr />
			<label for="item-number2">Item number:</label>
		     	<input name="item-number2" type="text"  />
			<hr />
			<label for="item-number3">Item number:</label>
		     	<input name="item-number3" type="text" />
			<hr />
			<label for="item-number4">Item number:</label>
		     	<input name="item-number4" type="text" />
			<hr />
		</div>			
		<a href="#" class="btn-addtocart" style="float: right;" >Add to Cart</a></li>
		<div class="clear"></div>
	</div>
	</form>
</div>
