<div class="popupwindow" style="width: 450px;">
<div id="lb-close" class="close"><a href='#' class="lbAction" rel="deactivate">Close</a></div>
<dl id="productQuickInfo" class="clearfix">
        <dt id="qi-image"></dd>
        <dt id="qi-name"></dt>
        <dd id="qi-contributors"></dt>
        <dd id="qi-desc"></dd>
        <dd id="qi-format"></dd>
        <dd id="qi-availability"></dd>
        <dd id="qi-price"></dd>
        <dd id="qi-saleprice"></dd>
        <dd id="qi-buy"><a id="qi-buylink" href="#"></a></dd>
</dl>
</div>