  			<div class="chkout-status">
				<img src="/media/checkout/statusbar-ship.gif" width="507" height="26" alt="Ship" />
			 </div>
				 
			 <div class="chkout-header">
				<h2>Shipping Details</h2>
			</div>
			
				 <div class="chkout-twocol clearfix">
					<div class="left">
						<div class="chkout-formbox">	
						<h3>1. Enter Shipping Address</h3>	
							<form id="shippingAddress">				
								<label for="FirstName">First Name:</label>
								<input type="text" 
									id="FirstName" 
									required="required" 
									alert="Please enter First Name" 
									maxlength="20"
								/>
								<label for="LastName">Last Name:</label>
								<input type="text" 
									id="LastName" 
									required="required" 
									alert="Please enter Last Name" 
									maxlength="20"
								/>
								<label for="Address1">Address 1:</label>
								<input type="text" 
									id="Address1" 
									required="required" 
									alert="Please enter Address 1" 
									maxlength="25"
								/>
								<label for="Address2">Address 2:</label>
								<input id="Address2" 
										type="text" 
										maxlength="25"								
								/>
								<label for="City">City:</label>
								<input type="text" 
									id="City" 
									required="required" 
									alert="Please enter City" 
									maxlength="14"
								/>
								<label for="State">State:</label>
						            <select required="required" id="State">			
										<option value="">-- Please Select --</option>
										<option value="AL">Alabama</option>
										<option value="AK">Alaska</option>
										<option value="AZ">Arizona</option>
										<option value="AR">Arkansas</option>
										<option value="CA">California</option>
										<option value="CO">Colorado</option>
										<option value="CT">Connecticut</option>
										<option value="DE">Delaware</option>
										<option value="DC">District of Columbia</option>
										<option value="FL">Florida</option>
										<option value="GA">Georgia</option>
										<option value="HI">Hawaii</option>
										<option value="ID">Idaho</option>
										<option value="IL">Illinois</option>
										<option value="IN">Indiana</option>
										<option value="IA">Iowa</option>
										<option value="KS">Kansas</option>
										<option value="KY">Kentucky</option>
										<option value="LA">Louisiana</option>
										<option value="ME">Maine</option>
										<option value="MD">Maryland</option>
										<option value="MA">Massachusetts</option>
										<option value="MI">Michigan</option>
										<option value="MN">Minnesota</option>
										<option value="MS">Mississippi</option>
										<option value="MO">Missouri</option>
										<option value="MT">Montana</option>
										<option value="NE">Nebraska</option>
										<option value="NV">Nevada</option>
										<option value="NH">New Hampshire</option>
										<option value="NJ">New Jersey</option>
										<option value="NM">New Mexico</option>
										<option value="NY">New York</option>
										<option value="NC">North Carolina</option>
										<option value="ND">North Dakota</option>
										<option value="OH">Ohio</option>
										<option value="OK">Oklahoma</option>
										<option value="OR">Oregon</option>
										<option value="PA">Pennsylvania</option>
										<option value="RI">Rhode Island</option>
										<option value="SC">South Carolina</option>
										<option value="SD">South Dakota</option>
										<option value="TN">Tennessee</option>
										<option value="TX">Texas</option>
										<option value="UT">Utah</option>
										<option value="VT">Vermont</option>
										<option value="VA">Virginia</option>
										<option value="WA">Washington</option>
										<option value="WV">West Virginia</option>
										<option value="WI">Wisconsin</option>
										<option value="WY">Wyoming</option>
									</select>
								<label for="Zip">Zip Code:</label>
								<input type="text" 
									id="Zip" 
									required="required" 
									alert="Please enter Zip Code" 
									minLen="5" 
									maxlength="5" 
									chars="0123456789" 
								/>
								<label for="Phone">Phone:</label><br />
								<input type="text" 
									id="Phone1" 
									class="inline" 
									style="width: 40px; margin-right: 3px;" 
									required="required" 
									alert="Please enter valid Phone Number" 
									minLen="3" 
									maxlength="3" 
									chars="0123456789" 
								/>
								<input type="text" 
									id="Phone2" 
									class="inline" 
									style="width: 40px; margin-right: 3px;" 
									required="required" 
									alert="Please enter valid Phone Number" 
									minLen="3" 
									maxlength="3" 
									chars="0123456789"
								/>					
								<input type="text" 
									id="Phone3" 
									class="inline" 
									style="width: 65px; margin-right: 10px;" 
									required="required" 
									alert="Please enter valid Phone Number" 
									minLen="4" 
									maxlength="4" 
									chars="0123456789" 
								/>
								<br /><br />
							</form>
							
							<input type="checkbox" id="same-as-billing" class="inline" />
							<label for="same-as-billing" class="nobold">Same as my billing address</label><br />
							<!--
							<h4 style="margin: 15px 0;">Shipping to Multiple Addresses?</h4>
							<input type="checkbox" id="multiple-address-specified" name="" class="inline" />
							<label for="multiple-address-specified" class="nobold">Yes, I would like to specify an address for each item in the next step</label>
							-->
						</div>
					</div>
				
				<div class="right">
					<h3>2. Choose Shipping Method</h3>
					<p>The cost of each option is based on the total amount of your order.</p>
					<div style="margin-bottom: 30px;">
					<form id="shippingMethod">
						<div id="shipping-repeater">
							<table width="100%" cellpadding="4" cellspacing="0" border="0">
								<tr>
								 	<td width="1"><input type="radio" name="shipping" value="<data:code></data:code>" id="shipping_<data:code></data:code>" /></td>
									<td><label for="supersaver" class="nobold small-text"><data:name></data:name></label></td>
									<td align="right" width="30" class="small-text"><data:rate></data:rate></td>
								</tr>
							</table>
						</div>
					</form>
					</div>
					 
					<h3>3. Gift Wrapping (optional)</h3>
					<p>Most items can be specially wrapped with our all occassion gift-wrap. Check the box below to see the available gift wrapping options for your order on the next page.</p>
					 
				   <input type="checkbox" id="show-wrap-options" style="vertical-align: middle;" />
				   <label for="show-wrap-options" class="nobold small-text">Please show me your gift wrapping options in the next step</label>
				   <div style="margin: 15px 0 20px 0;">
				   		<img src="/media/checkout/gift-wrap-package.jpg" width="265" height="176" alt="Gift Boxes" />
					</div>
				    <a href="#" onclick="saveShipping();return false;" class="btn-continue-large" style="float: right;">Continue</a>
				</div>
			
			</div>
			
			<p><a href="#" onclick="showLogin();return false;" class="arrow-back">Go Back</a></p>

