<h1 class="title">Order Information</h1>

<div class="content">
	<div style="margin-bottom:8px;">If you placed your order prior to 11/6/07, please check your order status <a href="https://production.nfsorderstatus.com/BBC/orderstatus.html">here</a></div>
	<h2>Open Orders</h2>
	<table class="order-table"> 
		<thead>	   
			<th class="orderno">Order Number</th>
			<th class="orderdate">Order Date</th>
			<th class="status">Status</th>
			<th class="ordertotal">Order Total</th>
		</thead>
	</table>
	<div id="openOrders"></div>
	
	<h2 style="margin-top: 15px;">Completed Orders</h2>	
	<table class="order-table"> 
		<thead>	   
			<th class="orderno">Order Number</th>
			<th class="orderdate">Order Date</th>
			<th class="status">Status</th>
			<th class="ordertotal">Order Total</th>
		</thead>
	</table>
	<div id="completedOrders"></div>
</div>



